/* general style*/
.background {
    background-color: #000;
    height: 100vh;
}
#title {
    position: sticky;
    color: white;
}
/* homepage style*/
.carousel{
    position: relative;
    left: 17%;
}
.pagination{
    background-color: #000;
}
#about-me
{
    background-color: #000;
    color: white;
}
#line {
    position: fixed;
    margin-right: 0;
    padding-right: 50%;
    bottom: 20vh;
    border-right: 3px solid;
    height: 50vh;
    color: white;
}
/* experience style*/
.card {
    background-color: #000;
}
#background{
    height: 100vh;
    background-color: #000;
}
.card-deck {
    background-color: #000;
}
/* contact style*/
.alert {
    position: absolute;
    top: 93vh;
}
#img-icon {
    width: 2%;
}
#img-icon:hover {
    width: 2.5%;
}
.contact-info {
    position: relative;
    font-style: italic;
    color: white;
}