.footer{
    float: right;
    border-left: 162.5vh solid #3C6E71;
    border-right: 70px solid #3C6E71;
    background-color: #3C6E71;
    margin-right: 0px;
}
.footer-links{
    float: right;
}

.title{
    position: fixed;
    top: 40%;
    left: 10%;
}

.page{
    float: right;
    position: relative;
    margin-top: 20%;
    right: 15%;
    font-style: italic;
}

.line{
    position: fixed;
    margin-right: 0;
    padding-right: 100vh;
    border-right: 3px solid #000;
    height: 100vh;
}

.about_me{
    float: right;
    position: relative;
    margin-top: 60%;
}